%ul
  - areas.sort{ |a,b| a.name.downcase <=> b.name.downcase }.each do |area|
    %li
      %h3 
        - if area.health < 0.02
          - color_class = "low"
        - elsif area.health < 0.08
          - color_class = "medium"
        - else
          - color_class = "high" 
        %a{:href => "/#{area.slug}", :class => color_class} 
          - out = "#{area.name}<br />"
          - if area.has_total_customers?
            - num = (area.online_percentage * 100).to_s.split('.')
            - if num.length == 2
              - out += "#{num[0]}.#{num[1][0..1]}%"
            - else
              - out += "No Data"
          - else
            - out += "#{area.last_sample.custs_out} offline"

          = raw out