%header
  .floater
    %h3= link_to 'Does NYC have power?', '/'
  %h1= "Does #{@area.area_name} have power?"
  %h2= raw t("area.subtitle", :num => @total_outage_percent, :name => @area.area_name, :link => link_to(t('index.coned_working'), t('index.coned_twitter')))

/= render 'power/trend'

.sub-areas
  - if @area.children.length > 0
    %h2 Offline customers per neighborhood:
    = render 'power/sub_areas', :areas => @area.children