- content_for :time_series do
  =raw time_series_from [@area]

- content_for :map_points do
  =raw map_points_from @sub_areas

%header
  = render 'power/nav', :region => @region

  %h1= "Does #{@area.name} have power?"
  %h2= raw t("area.subtitle", {:pretty_outage_percent => pretty_percentage(@area.last_sample.custs_out, @area.last_sample.total_custs), :provider => @area.provider.name, :total_customers => @total_customers, :area => @area.name, :link => @area.provider.url})

.trend
  %h2= "Outage history for #{@area.name}:"
  = render 'power/trend'

.current
  %h2= "#{@area.name}:"
  .map#map_canvas

  .sub-areas
    - if @area.children.length > 0
      = render 'power/sub_areas', :areas => @sub_areas