- content_for :time_series do
  =raw @time_series_json

- content_for :map_points do
  =raw @map_points_json

%header
  .floater
    %h3= link_to 'Does NYC have power?', '/'
  %h1= "Does #{@area.area_name} have power?"
  - if @total_outage >= 0.08
    - link = "But they are " + link_to(t('index.coned_working'), t('index.coned_twitter')) + "."
  - else
    - link = ""
  %h2= raw t("area.subtitle", :num => @total_outage_percent, :name => @area.area_name, :link => link)

.trend
  %h2= "Outage history for #{@area.area_name}:"
  = render 'power/trend'

.current
  - if @area.children.length > 0
    %h2 Customers offline per neighborhood:
  - else
    %h2= "#{@area.area_name}:"

  .map#map_canvas

  .sub-areas
    - if @area.children.length > 0
      = render 'power/sub_areas', :areas => @area.children