- content_for :time_series do
  =raw @time_series_json

- content_for :map_points do
  =raw @map_points_json

- provider = t("providers.#{@provider.code}")

%header
  - if @provider.code == 'LIPA'
    .floater
      %h3= link_to 'Does NYC have power?', '/'

  %h1= "Does " + provider[:root_area_name] + " have power?"
  %h2= raw t("index.subtitle", {:pretty_outage_percent => @pretty_outage_percent, :provider => provider[:name], :total_customers => @total_customers, :link => provider[:twitter]})

.trend
  %h2= "Outage history for " + provider[:root_area_name] + ":"
  = render 'power/trend'

.current
  %h2= "Customers offline per " + provider[:sub_area_descriptors][0]  + ":"

  .map#map_canvas

  .sub-areas
    = render 'power/sub_areas', :areas => @areas